<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.concentration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/concentration_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/concentration_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu.HomeActivity"
            android:theme="@style/MainWindowAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CompetitionGameActivity">
        </activity>

        <activity android:name=".UnlimitedGameActivity">
        </activity>

        <activity android:name=".Game">
        </activity>

        <activity android:name=".ResultsActivity">
        </activity>

        <activity android:name=".Menu.PauseActivity">
        </activity>

        <activity android:name=".Levels.LevelUpActivity">
        </activity>

        <activity android:name=".SettingsActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>